process.container = 'tubiomics/vulcan:latest'
docker.enabled = true


process {
    withName:countReads {
        container = 'tubiomics/vulcan-qc:latest'
    }
    withName:trimReads {
        container = 'tubiomics/vulcan-qc:latest'
    }
    withName:taxanomic_classification {
        container = 'tubiomics/vulcan-ta:latest'
    }
}